/* magic */
* { margin: 0px; padding: 0px; }

html { 
	height: 100%;
	background-color: #2E3440;
}

body {
	width: 100%;
	height: 100%;
	font-family: Helvetica, sans-serif;
}

#img-container {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.img-card {
	border: 1px solid #2E3440;
	border-radius: 10px;
	width: 23vw;
	color: #D8DEE9;
	margin: 10px;
	overflow: hidden;
	background-color: #3B4252;
}

.img-card-green { background-color: #2A792A; }

.img-card-yellow { background-color: #79792A; }

.img-card-red { background-color: #792A2A; }

.img-card > p { padding: 5px; }

.img-card > img { width: 100%; }

.img-card > p > a {
	color: #D8DEE9;
	text-decoration: none;
}

.outdated { display: none; }
